.content {
    position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        z-index: 100;
}

.content:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(16, 15, 15, 0.79);
    
}

.overlay-content {
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    color: #161515;
}


button#New-1 {
    cursor: not-allowed;
    pointer-events: none;
} 

button#New-1 span.Polaris-LegacyTabs__Title::before{
    background: none!important; 
} 

/* div.Polaris-LegacyStack{
    background: rgba(138, 196, 187, 0.944);
    vertical-align: bottom;
} */




